.nav {
  display: flex;
  gap: 3rem;
  align-items: center;
  list-style: none;
  font-size: 2rem;
  font-weight: 500;
}

.navLink {
  text-decoration: none;
  color: var(--color--brand-light);
  transition: 0.3;
}

.navLink:hover,
.navLink:global(.active) {
  color: var(--color--brand-1);
}
