.heroSection {
  background: var(--color--brand-purple);
}

.heroHeading {
  font-size: 7.2rem;
  color: var(--color--brand-2);
  font-weight: 600;
  margin-bottom: 3rem;
}

.heroSubHeading {
  font-size: 5.2rem;
  color: var(--color--brand-2);
  font-weight: 400;
  margin-bottom: 3rem;
}

.heroImg {
  width: 100%;
  display: block;
}
