.emptyCartSection {
  margin: 9.6rem 0;
}

.emptyCartContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.imgContainer {
  width: 8vw;
  margin-bottom: 2.4rem;
}

.img {
  width: 100%;
}

.heading {
  font-size: 3rem;
  margin-bottom: 2.4rem;
}

.paragraph {
  font-size: 2rem;
  margin-bottom: 2.4rem;
}

.link {
  text-decoration: none;
}
